<head>>
  <style>

    body {
        color: black;
        border: none;
        padding: 10px;
    }

    h1 {
       text-align: center;
    }

    h2, h3, p {
      color: black;
    }

    p, li {
      font-size: 24px;
      font-family: Arial, Helvetica, sans-serif;
    }

    .almond {
      color: white;
    }

    .butterfinger {
      color: orange;
    }

    .ferrero {
      color: gold;
    }

    .all {
      color: blue;
    }

  </style>
</head>